body {
  display: flex;
  flex-direction: column;
  width: 205px;
  padding: 20px 10px;
}

@import url("https://fonts.googleapis.com/css?family=Arbutus");

.title-h1{
  display: flex;
  margin-top: 0px;
}

#title {
  font-family: Arbutus, cursive;
  font-style: italic;
  text-align: center;
  font-size: 2em;
  color: #f168c1;
  background-color: #fff;
  text-shadow: rgb(4, 4, 4) -2px -2px 4px;
}

.current-speed{
  margin-bottom: 10px;
}

label {
  font-size: 1.5em;
  font-weight: 500;
  
}

input[type="range"] {
  width: 100%;
  
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 205px;
}

datalist option{
  font-size: 15px;
  
}

.button-align{
  text-align: center;
}

button#resetPlaybackSpeed {
  background: #f168c1;
  border: 1px solid #000000;
  border-radius: 50%;
  box-shadow: 0 2px #444444;
  color: #ffffff;
  display: inline-block;
  font: italic bold 25px/50px "Komika", cursive;
  text-align: center;
  text-shadow: 2px 2px #000000;
  margin-top: 5px;
  width: 60%;
  justify-content: center;
}
