 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html{
  font-size: 62.5%;
}

:root {
  --primary-color: #041E43;
  --secondary-color: #EC887D;
  --primary-font:'Lato', sans-serif;;
  --font-primary-color: white;
  --gradient-background: linear-gradient(180deg, #021228 55.35%, #EC887D 156.3%);

}

body {
color: var(--font-primary-color);
font-family: var(--primary-font);
height: 100vh;
width: 100%;
display: flex;
align-items: center;
}

label {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.1px;
}

input[type="range"] {
  width: 100%;
}

input, select, button{
  cursor: pointer;
}

select{
  display: flex;
  width: 100%;
  border-radius: 8px;
  margin-top: 5px;
  padding: 1px;
}

select option{
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--font-primary-color);
}

.container{
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 365px;
  padding: 20px;
  background: var(--gradient-background);
  margin: 0 auto;
  border-radius: 10px;
  gap: 20px;
}

.title {
  text-align: center;
  font-size: 3rem;
  color:var(--font-primary-color);
  font-weight: 400;
}

.button-align{
  text-align: center;
}

.btn-reset {
  background: var(--primary-color);
  padding: 8px;
  min-width: 100px;
  border-radius: 8px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  margin-top: 70px;
  font-size: 1.5rem;
  font-weight: 400;
}

.btn-reset:hover{
  background-color: var(--secondary-color);
  transition: 0.5s ease-in-out;
  transition: all .3s;
}
